body{
    background:#F9F7FE;
    font-family: "Old Standard TT", serif;
}
footer{
    position: absolute;
    bottom: 0%;
    height: 60px;
   background-color: #fcfafa;
   text-align: center;
   padding: 10px;
   margin: 10px auto;
}
a{
    text-decoration: none;
    color: #430f58;
}
.weather-app{
    background: white;
    max-width: 700px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
}
.search-form-input
{
    border: none;
    border-radius: 15px;
    background: #F9F7FE;
    width: 60%;
    padding: 15px;
    font-size: 15px;
}
.search-form-button{
    background: #885df1;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}
.weather-app-data{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.weather-temp{
    font-size: 88px;
    font-weight: bold;
}
.weather-app-temp{
    display: flex;
}
.weather-emoji{
    font-size: 50px;
}
.weather-unit{
    font-size: 35px;
    margin-top: 8px;
}
.color-pink{
    color: #f70776;
}
#forcast-weather{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}